{% load static %}

<html>
    <head>
    
        <title>ERP Eurowindows</title>
        
        <link rel="stylesheet" href="{% static 'erp/style.css' %}" >
        
    </head>
<html>

 <div>
    
      <br>  
                      <br />
                       <br>  
                      <br />
                       <br>  
                      <br />
                      
        <h1>GESTION DE EMPRESA : EUROWINDOWS</h1>
        
            </div>
                </div>
    
<body>

 <br>  
                      <br /> 
                    
                     <br>  
                      <br /> 
                    
                     <br>  
                      <br /> 
                    
                     <br>  
                      <br /> 
                   
                     <br> 
                     <div align= "center">
                       <button><a href="/admin/erpe/cliente/">Manuel</a></button>
                      <br /> 
                    
                     <br>  
                      <br /> 
                    

                        <br /> 
                    <div align= "center">
                    
                       
                            <button><a href="/admin/erp/clientes">Luciana</a></button>
                            
                            

                      </div>
                    <br>  
                      <br /> 
                    
           
             </div>
                    <br />  



 </body>                    
         
                               
 
